<div class="md:w-full md:mx-auto my-10">
    <div class="grid grid-cols-1 lg:grid-cols-5 justify-center mx-10 text-start p-10">
      <div class="space-y-4">
        <h2 class="text-white text-[18px]">Home</h2>
        <ul class="space-y-2 text-Dark-40 text-[16px]">
          <li>Features</li>
          <li>Blogs</li>
          <li>Resources</li>
          <li>Testimonials</li>
          <li>Contact Us</li>
          <li>Newsletter</li>
        </ul>
      </div>
      <div class="space-y-4">
        <h2 class="text-white text-[18px]">News</h2>
        <ul class="space-y-2 text-Dark-40 text-[16px]">
          <li>Trending Stories</li>
          <li>Featured Videos</li>
          <li>Technology</li>
          <li>Health</li>
          <li>Politics</li>
          <li>Environment</li>
        </ul>
      </div>
      <div class="space-y-4">
        <h2 class="text-white text-[18px]">Blogs</h2>
        <ul class="space-y-2 text-Dark-40 text-[16px]">
          <li>Quantum Computing</li>
          <li>AI Ethics</li>
          <li>Space Exploration</li>
          <li>Biotechnology</li>
          <li>Renewable Energy</li>
          <li>Biohacking</li>
        </ul>
      </div>
      <div class="space-y-4">
        <h2 class="text-white text-[18px]">Podcasts</h2>
        <ul class="space-y-2 text-Dark-40 text-[16px]">
          <li>AI Revolution</li>
          <li>TechTalk AI</li>
          <li>AI Conversations</li>
        </ul>
      </div>
      <div class="space-y-4">
        <h2 class="text-white text-[18px]">Resources</h2>
        <ul class="space-y-2 text-Dark-40 text-[16px]">
          <li>Whitepapers</li>
          <li>Ebooks</li>
          <li>Reports</li>
          <li>Research Papers</li>
        </ul>
      </div>
    </div>
  </div>
  