<div class="md:w-full md:mx-auto">
    <div class="p-10 bg-Dark-10">
         <h3 class="text-white text-[16px] font-medium bg-Dark-20 p-2  w-[162px] h-[32px] rounded-[4px]">Unlock the Power of</h3>
         <h1 class="text-white text-[44px] font-medium">FutureTech Features</h1>
    </div>
    <div class="grid grid-cols-1 lg:grid-cols-2 justify-center items-center p-10 border-[1px] border-Dark-15">
       <div class="space-y-4   ">
          <img src="feature_icon.svg" alt="feature_icon" width="48" height="48" >
          <h1 class="text-white text-[30px] font-semibold">Future Technology Blog</h1>
          <p class="text-Grey-60">Stay informed with our blog section dedicated to future technology.</p>
       </div>
       <div class="p-8">
          <div class="grid grid-cols-1 lg:grid-cols-2 justify-center gap-4">
               <div class="bg-Dark-10 p-6 rounded-[10px]">
                 <h1 class="text-white text-[20px] font-medium">Quantity</h1>
                 <p class="text-Grey-60 text-[16px] ">Over 1,000 articles on emerging tech trends and breakthroughs.</p>
               </div>
               <div class="bg-Dark-10 p-6 rounded-[10px]">
                <h1 class="text-white text-[20px] font-medium">Variety</h1>
                <p class="text-Grey-60 text-[16px] ">Articles cover fields like AI, robotics, biotechnology, and more.</p>
              </div>
              <div class="bg-Dark-10 p-6 rounded-[10px]">
                <h1 class="text-white text-[20px] font-medium">Frequency</h1>
                <p class="text-Grey-60 text-[16px] ">Fresh content added daily to keep you up to date.</p>
              </div>
              <div class="bg-Dark-10 p-6 rounded-[10px]">
               <h1 class="text-white text-[20px] font-medium">Authoritative</h1>
               <p class="text-Grey-60 text-[16px] ">Written by our team of tech experts and industry professionals.</p>
             </div>
          </div>
          
       </div>
       <div class="space-y-4">
        <img src="research_icon.svg" alt="feature_icon" width="48" height="48" >
        <h1 class="text-white text-[30px] font-semibold">Research Insights Blogs</h1>
        <p class="text-Grey-60">Dive deep into future technology concepts with our research section.</p>
     </div>
     <div class=" p-8 ">
        <div class="grid grid-cols-1 lg:grid-cols-2 justify-center gap-4">
             <div class="bg-Dark-10 p-6 rounded-[10px]">
               <h1 class="text-white text-[20px] font-medium">Quantity</h1>
               <p class="text-Grey-60 text-[16px] ">Over 1,000 articles on emerging tech trends and breakthroughs.</p>
             </div>
             <div class="bg-Dark-10 p-6 rounded-[10px]">
              <h1 class="text-white text-[20px] font-medium">Variety</h1>
              <p class="text-Grey-60 text-[16px] ">Articles cover fields like AI, robotics, biotechnology, and more.</p>
            </div>
            <div class="bg-Dark-10 p-6 rounded-[10px]">
              <h1 class="text-white text-[20px] font-medium">Frequency</h1>
              <p class="text-Grey-60 text-[16px] ">Fresh content added daily to keep you up to date.</p>
            </div>
            <div class="bg-Dark-10 p-6 rounded-[10px]">
             <h1 class="text-white text-[20px] font-medium">Authoritative</h1>
             <p class="text-Grey-60 text-[16px] ">Written by our team of tech experts and industry professionals.</p>
           </div>
        </div>
        
     </div>
    </div>

    <!-- Research
    <div class="grid grid-cols-1 lg:grid-cols-2 justify-center p-10 border-[1px] border-Dark-15 ">
        
     </div> -->
</div>
