<div class="md:w-full md:mx-auto">
    <div class="p-10 bg-Dark-10">
         <h3 class="text-white text-[16px] font-medium bg-Dark-20 p-2  w-[162px] h-[32px] rounded-[4px]">Unlock the Power of</h3>
         <h1 class="text-white text-[44px] font-medium">FutureTech Features</h1>
    </div>
    <div class="grid grid-cols-1 lg:grid-cols-2 justify-center items-center p-10 border-[1px] border-Dark-15">
       <div class="space-y-4   ">
          <img src="feature_icon.svg" alt="feature_icon" width="48" height="48" >
          <h1 class="text-white text-[30px] font-semibold">Future Technology Blog</h1>
          <p class="text-Grey-60">Stay informed with our blog section dedicated to future technology.</p>
       </div>
       <div class="p-8">
          <div class="grid grid-cols-1 lg:grid-cols-2 justify-center gap-4">
               <div class="bg-Dark-10 p-6 rounded-[10px]">
                 <h1 class="text-white text-[20px] font-medium">Quantity</h1>
                 <p class="text-Grey-60 text-[16px] ">Over 1,000 articles on emerging tech trends and breakthroughs.</p>
               </div>
               <div class="bg-Dark-10 p-6 rounded-[10px]">
                <h1 class="text-white text-[20px] font-medium">Variety</h1>
                <p class="text-Grey-60 text-[16px] ">Articles cover fields like AI, robotics, biotechnology, and more.</p>
              </div>
              <div class="bg-Dark-10 p-6 rounded-[10px]">
                <h1 class="text-white text-[20px] font-medium">Frequency</h1>
                <p class="text-Grey-60 text-[16px] ">Fresh content added daily to keep you up to date.</p>
              </div>
              <div class="bg-Dark-10 p-6 rounded-[10px]">
               <h1 class="text-white text-[20px] font-medium">Authoritative</h1>
               <p class="text-Grey-60 text-[16px] ">Written by our team of tech experts and industry professionals.</p>
             </div>
          </div>
          
       </div>
       <div class="space-y-4">
        <img src="research_icon.svg" alt="feature_icon" width="48" height="48" >
        <h1 class="text-white text-[30px] font-semibold">Research Insights Blogs</h1>
        <p class="text-Grey-60">Dive deep into future technology concepts with our research section.</p>
     </div>
     <div class=" p-8 ">
        <div class="grid grid-cols-1 lg:grid-cols-2 justify-center gap-4">
             <div class="bg-Dark-10 p-6 rounded-[10px]">
               <h1 class="text-white text-[20px] font-medium">Quantity</h1>
               <p class="text-Grey-60 text-[16px] ">Over 1,000 articles on emerging tech trends and breakthroughs.</p>
             </div>
             <div class="bg-Dark-10 p-6 rounded-[10px]">
              <h1 class="text-white text-[20px] font-medium">Variety</h1>
              <p class="text-Grey-60 text-[16px] ">Articles cover fields like AI, robotics, biotechnology, and more.</p>
            </div>
            <div class="bg-Dark-10 p-6 rounded-[10px]">
              <h1 class="text-white text-[20px] font-medium">Frequency</h1>
              <p class="text-Grey-60 text-[16px] ">Fresh content added daily to keep you up to date.</p>
            </div>
            <div class="bg-Dark-10 p-6 rounded-[10px]">
             <h1 class="text-white text-[20px] font-medium">Authoritative</h1>
             <p class="text-Grey-60 text-[16px] ">Written by our team of tech experts and industry professionals.</p>
           </div>
        </div>
        
     </div>
     
    </div>
    

 <div class="grid grid-cols-1 lg:grid-cols-2 justify-center items-center p-10 space-y-20">
  <div class="space-y-4 ">
    <img src="Ebook.svg" alt="feature_icon" width="48" height="48" >
    <h1 class="text-white text-[30px] font-semibold">Ebooks</h1>
    <p class="text-Grey-60 w-[413px]">Explore our collection of ebooks covering a wide spectrum of future technology topics.</p>
 </div>
 <div class="space-y-6">
   <div class="flex items-center">
    <h1 class="text-white text-[20px]  font-semibold w-[223px]">Variety of Topics</h1>
    <p class="text-[16px] text-Grey-60">Topics include AI in education (25%), renewable energy (20%), healthcare <br> (15%), space exploration (25%), and biotechnology (15%).</p>
   </div>
   <img src="pic_knoledge.png" alt="" width="747" height="275">
   <div class="flex items-center gap-6">
    <div class=" bg-Dark-10 rounded-[8px] p-6">
      <p class="text-Grey-60 text-[16px]">Total Ebooks</p>
      <h1 class="text-white font-semibold text-[18px]">Over 100 ebooks</h1>
  
    </div>
    <div class="flex justify-between items-center bg-Dark-10 rounded-[8px] p-6 w-[443px]">
      <div>
        <p class="text-Grey-60 text-[16px]">Download Formats</p>
      <h1 class="text-white font-semibold text-[18px]">PDF format for access.</h1>
      </div>
      <div>
        <button class="bg-Dark-8 border-Dark-15 border-[1px] p-2 text-Grey-60">Button</button>
      </div>
    </div>
   </div>
   <div class="bg-Dark-10 rounded-[8px] p-6">
    <p class="text-Grey-60 text-[16px]">Average Author Expertise</p>
    <p class="text-white text-[18px] font-medium">Ebooks are authored by renowned experts with an average of 15 years of experience</p>  
 </div>
 </div>
 <!-- /////////// -->
 <div class="space-y-4   ">
  <img src="paper.svg" alt="feature_icon" width="48" height="48" >
  <h1 class="text-white text-[30px] font-semibold">Whitepapers</h1>
  <p class="text-Grey-60 w-[413px]">Dive into comprehensive reports and analyses with our collection of whitepapers. </p>
</div>
<div class="space-y-6">
 <div class="flex items-center gap-4">
  <h1 class="text-white text-[20px]  font-semibold w-[323px]">Topics Coverage</h1>
  <p class="text-[16px] text-Grey-60">Whitepapers cover quantum computing (20%), AI ethics (15%), space mining prospects (20%), AI in healthcare (15%), and renewable energy strategies (30%).</p>
 </div>
 <img src="paper_image.png" alt="" width="747" height="275">
 <div class="flex items-center gap-6">
  <div class=" bg-Dark-10 rounded-[8px] p-6">
    <p class="text-Grey-60 text-[16px]">Total Ebooks</p>
    <h1 class="text-white font-semibold text-[18px]">Over 100 ebooks</h1>

  </div>
  <div class="flex justify-between items-center bg-Dark-10 rounded-[8px] p-6 w-[443px]">
    <div>
      <p class="text-Grey-60 text-[16px]">Download Formats</p>
    <h1 class="text-white font-semibold text-[18px]">PDF format for access.</h1>
    </div>
    <div>
      <button class="bg-Dark-8 border-Dark-15 border-[1px] p-2 text-Grey-60">Button</button>
    </div>
  </div>
 </div>
 <div class="bg-Dark-10 rounded-[8px] p-6">
  <p class="text-Grey-60 text-[16px]">Average Author Expertise</p>
  <p class="text-white text-[18px] font-medium">Ebooks are authored by renowned experts with an average of 15 years of experience</p>  
</div>
</div>
</div>
